<div class="large-12 columns">
    <h4>Add Log Enty</h4>
    <div>
        <form name="form" novalidate ng-controller="addLogEntryCtrl">
            <div class="row">
                <div class="large-4 columns">
                    <label>Date:</label>
                    <input type="text" class="span2" ng-model="log.Date" name="lDate" value="02/16/12" data-date-format="mm/dd/yy" id="dp2" ng-model="log.Date" name="lDate" required="">
                </div>
                <div class="large-4 columns">
                    <label>Exercise Type:</label>
                    <select class="medium" ng-model="log.ExerciseType" name="lExerciseType" ng-model="selectedExerciseTypeItem" ng-options="item.ID as item.Title for item in ExerciseTypeItems" required="">                        
                    <pre>{{selectedExerciseTypeItem | json}}</pre>
                    </select>
                </div>
                <div class="large-4 columns">
                    <label>Exercise Time (min):</label>
                    <select class="medium" ng-model="log.ExerciseTime" name="lExerciseTime" ng-model="selectedExerciseTimeItem" ng-options="item.ID as item.Title for item in ExerciseTimeItems" required="">                         
                    <pre>{{selectedExerciseTimeItem | json}}</pre>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>Notes</label>
                    <textarea ng-model="log.Note" name="lNote" rows="15"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="large-3 columns">
                    <input class="secondary button" ui-sref="addLogEntry"  type="button" ng-click="reset(form)" value="Reset" />
                    <input class="button" ui-sref="addLogEntry" type="submit" ng-click="add(log)" value="Add" />
                </div>
                <div class="large-4 columns">
                    <div data-alert class="alert-box alert radius" ng-show="form.$submitted">
                        <ul>
                            <li ng-show="form.lDate.$error.required">Please select a date</li>
                            <li ng-show="form.lExerciseType.$error.required">Please select an exercise type</li>
                            <li ng-show="form.lExerciseTime.$error.required">Please select an exercise type</li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(function() {
        window.prettyPrint && prettyPrint();
        $('#dp1').fdatepicker({
            format: 'mm-dd-yyyy',
            disableDblClickSelection: true
        });
        $('#dp2').fdatepicker({
            closeButton: true
        });
        $('#dp3').fdatepicker();
        $('#dp3').fdatepicker();
        $('#dp-margin').fdatepicker();
        $('#dpMonths').fdatepicker();
        var startDate = new Date(2012, 1, 20);
        var endDate = new Date(2012, 1, 25);
        $('#dp4').fdatepicker()
            .on('changeDate', function(ev) {
                if (ev.date.valueOf() > endDate.valueOf()) {
                    $('#alert').show().find('strong').text('The start date can not be greater then the end date');
                } else {
                    $('#alert').hide();
                    startDate = new Date(ev.date);
                    $('#startDate').text($('#dp4').data('date'));
                }
                $('#dp4').fdatepicker('hide');
            });
        $('#dp5').fdatepicker()
            .on('changeDate', function(ev) {
                if (ev.date.valueOf() < startDate.valueOf()) {
                    $('#alert').show().find('strong').text('The end date can not be less then the start date');
                } else {
                    $('#alert').hide();
                    endDate = new Date(ev.date);
                    $('#endDate').text($('#dp5').data('date'));
                }
                $('#dp5').fdatepicker('hide');
            });
        // implementation of disabled form fields
        var nowTemp = new Date();
        var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
        var checkin = $('#dpd1').fdatepicker({
            onRender: function(date) {
                return date.valueOf() < now.valueOf() ? 'disabled' : '';
            }
        }).on('changeDate', function(ev) {
            if (ev.date.valueOf() > checkout.date.valueOf()) {
                var newDate = new Date(ev.date)
                newDate.setDate(newDate.getDate() + 1);
                checkout.update(newDate);
            }
            checkin.hide();
            $('#dpd2')[0].focus();
        }).data('datepicker');
        var checkout = $('#dpd2').fdatepicker({
            onRender: function(date) {
                return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
            }
        }).on('changeDate', function(ev) {
            checkout.hide();
        }).data('datepicker');
    });
    </script>