<div class="large-12 columns">
    <h4>Log Entries</h4>
    <table cellspacing="5" cellpadding="5" width="100%">
        <thead>
            <tr>
                <th>DATE</th>
                <th>EXERCISE</th>
                <th>NOTES</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="logEntry in logEntries">
                <td valign="top" width="180px">{{logEntry.date | date:'fullDate'}}</td>
                <td valign="top" width="150">      
                <table cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <td><b>Standing:</b></td>
                        <td>{{logEntry.exercises.standing}}</td>
                        <td><b>Striking:</b></td>
                        <td>{{logEntry.exercises.striking}}</td>
                    </tr>
                    <tr>
                        <td><b>Turning:</b></td>
                        <td>{{logEntry.exercises.turning}}</td>
                        <td><b>Changing:</b></td>
                        <td>{{logEntry.exercises.changing}}</td>
                    </tr>
                    <tr>
                        <td valign="top"><b>TOTAL:</b></td>
                        <td colspan="3">
                            {{ logEntry.exercises.standing + logEntry.exercises.striking + logEntry.exercises.turning + logEntry.exercises.changing}}
                        </td>
                    </tr>
                </table>
                </td>
                <td valign="top">{{logEntry.notes}}</td>
            </tr>
        </tbody>
    </table>
</div>  
